name: black

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
      - uses: psf/black@22.8.0
        with:
          version: "~= 22.0"
